# **Limpieza de datos** 
Durante el seminario de exploración de datos dirigido por el profesor Santiago Echeverry para el semillero GEA, se propuso como actividad inicial la creación de una base de datos compuesta por varias tablas. En esta segunda actividad, se llevó a cabo la limpieza de datos de la tabla **Víctimas de Acciones Bélicas** y de la tabla **Casos de Acciones Bélicas**, para posteriormente cargarla en el gestor de bases de datos PostgreSQL.

In [39]:
import pandas as pd
import numpy as np

victimasAB_df = pd.read_excel('C:\\Users\\Usuario\\Downloads\\GEA\\Limpieza\\VictimasAB_202309.xlsx')
casosAB_df = pd.read_excel('C:\\Users\\Usuario\\Downloads\\GEA\\Limpieza\\CasosAB_202309.xlsx')

c:\Users\Usuario\Downloads\GEA\Limpieza\.env\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

## **Conociendo la Base de  Datos** 
Inicialmente, se llevó a cabo una descripción de los atributos asociados a la entidades **VíctimasAB** y **CasosAB** con el objetivo de identificar los tipos de datos manejados y comprender su comportamiento en la base de datos. Para ello, se exportaron los datos y se empleó la función **info()** para realizar una exploración inicial. Esta exploración permitió visualizar la cantidad de variables y registros presentes, así como la cantidad de datos no faltantes por columna y el tipo de dato manejado por cada atributo. Es importante destacar que, por razones de practicidad en el código, se modificaron los nombres de algunas variables para facilitar su manejo.


### **Tabla 1: Víctimas de Acciones Bélicas**
La tabla **Víctimas de Acciones Bélicas** (nombre de archivo *victimasAB_df*) consta de **17 atributos** que han sido previamente descritos, y contiene un total de **49363 registros**.


### **Tabla 2: Casos de Acciones Bélicas**
La tabla **Casos de Acciones Bélicas** (nombre de archivo *casosAB_df*) consta de **40 atributos**, previamente descritos, y contiene un total de **37532 registros**.
Los tipos de datos encontrados fueron: float64(2), int64(22), object(16).
Se encontraron **10 atributos** con presencia de datos faltantes.

### *Renombramiento del nombre de las columnas*

In [41]:
victimasAB_df.rename(columns={  'ID Caso':'id_caso', 
                              'Código DANE de Municipio':'cod_dane_mun',
                              'Municipio':'municipio',
                              'Departamento':'departamentos',
                              'Año':'anho',
                              'Mes':'mes',
                              'Día':'dia',
                              'ID Persona':'id_persona',
                              'Sexo':'sexo',
                              'Etnia':'etnia',
                              'Ocupación':'ocupacion',
                              'Calidad de la Víctima o la Baja':'cal_vict_baja',
                              'Tipo de Población Vulnerable':'tipo_pob_vuln',
                              'Fuerza o Grupo Armado Organizado al que Pertenece el Combatiente':'fuerza_grupo_arm',
                              'Descripción Fuerza o Grupo Armado Organizado al que Pertenece el Combatiente':'desc_fuerza_arm',
                              'Edad':'edad',
                              'Latitud':'latitud',
                              'Longitud':'longitud'},inplace=True)

In [62]:
casosAB_df.rename(columns={'ID Caso':'id_caso',
                           'ID Caso Relacionado':'id_caso_rela',
                           'Año':'anho',
                           'Mes':'mes',
                           'Día':'dia',
                           'Código DANE de Municipio':'cod_dane_mun',
                           'Municipio':'municipio',
                           'Departamento':'departamento',
                           'Región':'region',
                           'Modalidad':'modalidad',
                           'Iniciativa':'inicitiva',
                           'Tipo de Unidad Atacada':'tipo_uni_ata',
                           'Grupo Armado 1':'grupo_arm_1',
                           'Descripción Grupo Armado 1':'des_grupo_arm_1',
                           'Grupo Armado 2':'grupo_arm_2',
                           'Descripción Grupo Armado 2':'des_grupo_arm_2',
                           'Grupo Armado 3':'grupo_arm_3',
                           'Descripción Grupo Armado 3':'des_grupo_arm_3',
                           'Lesionados Civiles':'lesionados_civiles',
                           'Grupo al que Pertenecen los Capturados':'grupo_capturados',
                           'Capturados':'capturados',
                           'Lesionados Combatientes':'lensionados_combatientes',
                           'Militares':'militares',
                           'Policías':'policia',
                           'Otras Fuerzas Armadas Estatales':'otras_fuerzas_a',
                           'Agentes_del_Estado_Sin_Información':'agen_est_no_inf',
                           'Total_Agentes_del_Estado':'total_agen_est',
                           'Guerrilleros':'guerilleros',
                           'Paramilitares':'paramilitares',
                           'Grupos_Posdesmovilización':'grupos_posdesmo', 
                           'Combatientes_Sin_Información':'combatientes_no_inf',
                           'Otros Grupos Armados Organizados':'otros_grupos_armados_o',
                           'Total Combatientes de Grupos Armados Organizados':'total_combatientes_ga',	
                           'Total Combatientes':'total_combatientes',	
                           'Personas Sin Información':'persona_sinf',
                           'Total Civiles':'total_civiles',	
                           'Ventaja Militar':'ventaja_militar',	
                           'Total de Víctimas del Caso':'total_victimas_caso',
                           'Latitud':'latitud',
                           'Longitud':'longitud'},inplace=True)

### *Primer analisis exploratorio*

#### **Tabla 1: Víctimas de Acciones Bélicas**

In [65]:
victimasAB_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49363 entries, 0 to 49362
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_caso           49363 non-null  int64
 1   cod_dane_mun      49363 non-null  object
 2   municipio         49363 non-null  object
 3   departamentos     49363 non-null  object
 4   anho              49363 non-null  int64
 5   mes               49363 non-null  int64
 6   dia               49363 non-null  int64
 7   id_persona        49363 non-null  int64
 8   sexo              49363 non-null  object
 9   etnia             177 non-null    object
 10  ocupacion         49363 non-null  object
 11  cal_vict_baja     49363 non-null  object
 12  tipo_pob_vuln     202 non-null    object
 13  fuerza_grupo_arm  45065 non-null  object
 14  desc_fuerza_arm   45065 non-null  object
 15  edad              3190 non-null   object
 16  latitud           49363 non-null  float64
 17  longitud          49363 non-null  float64
dtypes: float64(2), int64(5), object(11)
memory usage: 6.8+ MB

#### **Tabla 2: Casos de Acciones Bélicas**

In [66]:
casosAB_df[casosAB_df.columns[0:20]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37532 entries, 0 to 37531
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_caso             37532 non-null  int64
 1   id_caso_rela        4136 non-null   object
 2   anho                37532 non-null  int64
 3   mes                 37532 non-null  int64
 4   dia                 37532 non-null  int64
 5   cod_dane_mun        37532 non-null  object
 6   municipio           37532 non-null  object
 7   departamento        37532 non-null  object
 8   region              36930 non-null  object
 9   modalidad           37532 non-null  object
 10  inicitiva           37532 non-null  object
 11  tipo_uni_ata        37492 non-null  object
 12  grupo_arm_1         37531 non-null  object
 13  des_grupo_arm_1     37516 non-null  object
 14  grupo_arm_2         37531 non-null  object
 15  des_grupo_arm_2     37531 non-null  object
 16  grupo_arm_3         927 non-null    object
 17  des_grupo_arm_3     927 non-null    object
 18  lesionados_civiles  37532 non-null  int64
 19  grupo_capturados    2612 non-null   object
dtypes: int64(5), object(15)
memory usage: 5.7+ MB

In [64]:
casosAB_df[casosAB_df.columns[20:41]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37532 entries, 0 to 37531
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   capturados                          37532 non-null  int64
 1   lensionados_combatientes            37532 non-null  int64
 2   militares                           37532 non-null  int64
 3   policia                             37532 non-null  int64
 4   otras_fuerzas_a                     37532 non-null  int64
 5   Agentes del Estado Sin Información  37532 non-null  int64
 6   Total Agentes del Estado            37532 non-null  int64
 7   guerilleros                         37532 non-null  int64
 8   paramilitares                       37532 non-null  int64
 9   Grupos Posdesmovilización           37532 non-null  int64
 10  Combatientes Sin Información        37532 non-null  int64
 11  otros_grupos_armados_o              37532 non-null  int64
 12  total_combatientes_ga               37532 non-null  int64
 13  total_combatientes                  37532 non-null  int64
 14  persona_sinf                        37532 non-null  int64
 15  total_civiles                       37532 non-null  int64
 16  ventaja_militar                     37532 non-null  object
 17  total_victimas_caso                 37532 non-null  int64
 18  latitud                             37532 non-null  float64
 19  longitud                            37532 non-null  float64
dtypes: float64(2), int64(17), object(1)
memory usage: 5.7+ MB

### *Descripción Variables*

#### **Tabla 1: Víctimas de Acciones Bélicas**

1. `id_caso`: Identificador único del caso.
2. `cod_dane_mun`: Código DANE del municipio donde ocurrió la acción bélica.
3. `municipio`: Nombre del municipio donde ocurrió la acción bélica.
4. `departamentos`: Departamento donde ocurrió la acción bélica.
5. `anho`: Año en que ocurrió la acción bélica.
6. `mes`: Mes en que ocurrió la acción bélica.
7. `dia`: Día en que ocurrió la acción bélica.
8. `id_persona`: Identificador único de la persona afectada.
9. `sexo`: Género de la persona afectada (HOMBRE, MUJER, SIN INFORMACIÓN).
10. `etnia`: Etnia de la persona afectada. (INDIGENA,[NEGRO(A), MULATO(A), AFRODESCENDIENTE, AFROCOLOMBIANO(A)],[NINGÚN GRUPO ÉTNICO,RAIZAL DEL ARCHIPIÉLAGO DE SAN ANDRÉS, PROVIDENCIA Y SANTA CATALINA])
11. `ocupacion`: Ocupación de la persona afectada (GUERRILLERO, FUERZA PÚBLICA, CAMPESINO, entre otras)
12. `cal_vict_baja`: Calidad de la víctima o baja (COMBATIENTE, CIVIL).
13. `tipo_pob_vuln`: Tipo de población vulnerable al que pertenece la persona afectada.
14. `fuerza_grupo_arm`: Fuerza o grupo armado al que pertenece el combatiente.
15. `desc_fuerza_arm`: Descripción de la fuerza o grupo armado al que pertenece el combatiente.
16. `edad`: Edad de la persona afectada.
17. `latitud`: Coordenada de latitud donde ocurrió la acción bélica.
18. `longitud`: Coordenada de longitud donde ocurrió la acción bélica.

In [43]:
victimasAB_df.groupby('municipio').size().sort_values(ascending=False).head(10)

municipio
SIN INFORMACION           1456
MEDELLIN                   870
TAME                       761
ARAUQUITA                  588
VISTAHERMOSA               532
ITUANGO                    500
BOGOTA, D.C.               489
SAN VICENTE DEL CAGUAN     486
PUERTO RICO                473
TURBO                      467
dtype: int64

In [16]:
victimasAB_df.groupby('departamentos').size().sort_values(ascending=False).head(10)

departamentos
ANTIOQUIA             10000
META                   3401
CAUCA                  2969
SANTANDER              2922
VALLE DEL CAUCA        2450
NORTE DE SANTANDER     2389
CAQUETA                2343
ARAUCA                 2227
TOLIMA                 2161
HUILA                  1712
dtype: int64

In [18]:
victimasAB_df.groupby('sexo').size().sort_values(ascending=False)

sexo
HOMBRE             30100
SIN INFORMACION    17972
MUJER               1291
dtype: int64

In [19]:
victimasAB_df.groupby('etnia').size().sort_values(ascending=False)

etnia
INDÍGENA                                                               120
NEGRO(A), MULATO(A), AFRODESCENDIENTE, AFROCOLOMBIANO(A)                53
NINGÚN GRUPO ÉTNICO                                                      2
RAIZAL DEL ARCHIPIÉLAGO DE SAN ANDRÉS, PROVIDENCIA Y SANTA CATALINA      2
dtype: int64

In [20]:
victimasAB_df.groupby('ocupacion').size().sort_values(ascending=False).head(10)

ocupacion
GUERRILLERO                            24864
FUERZA PÚBLICA                         14991
SIN INFORMACIÓN                         3773
PARAMILITAR                             2382
BANDOLERO                                755
OTRA ¿CUÁL?                              634
MIEMBRO DE GRUPO POSDESMOVILIZACIÓN      512
CAMPESINO                                247
DELINCUENTE                              169
TRABAJADOR DE FINCA                      130
dtype: int64

In [21]:
victimasAB_df.groupby('cal_vict_baja').size().sort_values(ascending=False)

cal_vict_baja
COMBATIENTE        45080
CIVIL               3953
SIN INFORMACIÓN      330
dtype: int64

In [22]:
victimasAB_df.groupby('tipo_pob_vuln').size().sort_values(ascending=False).head(10)

tipo_pob_vuln
OTRA ¿CUÁL?                       32
FAMILIAR DE COMBATIENTE           26
EXMILITAR                         18
FUNCIONARIO JUDICIAL              16
DESMOVILIZADO                     15
MAESTRO O EDUCADOR                13
FAMILIAR DE PERSONA VULNERABLE    12
LÍDER COMUNITARIO                 11
MILITANTE POLÍTICO                10
EXPOLICÍA                          8
dtype: int64

In [23]:
victimasAB_df.groupby('fuerza_grupo_arm').size().sort_values(ascending=False).head(10)

fuerza_grupo_arm
GUERRILLA                       24935
AGENTE DEL ESTADO               14941
GRUPO PARAMILITAR                2412
BANDOLERISMO                     1196
DESCONOCIDO                       653
GRUPO POSDESMOVILIZACIÓN          509
GRUPO ARMADO NO IDENTIFICADO      258
AGENTE EXTRANJERO                  98
GRUPO ARMADO NO DIRIMIDO           27
OTRO ¿CUÁL?                        19
dtype: int64

In [24]:
victimasAB_df.groupby('desc_fuerza_arm').size().sort_values(ascending=False).head(10)

desc_fuerza_arm
FARC                                   15330
EJÉRCITO NACIONAL                       9410
ELN                                     5256
POLICÍA NACIONAL                        4954
NO IDENTIFICADO                         1673
AUTODEFENSAS UNIDAS DE COLOMBIA AUC     1473
NO IDENTIFICADA                         1036
NO APLICA                                942
EPL                                      778
M19                                      734
dtype: int64

In [26]:
victimasAB_df.groupby('edad').size().sort_values(ascending=False)

edad
JUVENTUD (18-28 AÑOS)            1680
ADULTEZ (29-59 AÑOS)              976
ADOLESCENCIA (12-17 AÑOS)         295
INFANCIA (6-11 AÑOS)               97
PERSONA MAYOR (60 AÑOS O MAS)      75
PRIMERA INFANCIA (0-5 AÑOS)        67
dtype: int64


#### **Tabla 2: Casos de Acciones Bélicas**

1. `id_caso`: Identificador único del caso.
2. `id_caso_rela`: Identificador único del caso relacionado.
3. `anho`: Año en que ocurrió el caso.
4. `mes`: Mes en que ocurrió el caso.
5. `dia`: Día en que ocurrió el caso.
6. `cod_dane_mun`: Código DANE del municipio donde ocurrió el caso.
7. `municipio`: Nombre del municipio donde ocurrió el caso.
8. `departamento`: Departamento donde ocurrió el caso.
9. `region`: Región donde ocurrió el caso.
10. `modalidad`: Modalidad del caso.
11. `inicitiva`: Iniciativa del caso.
12. `tipo_uni_ata`: Tipo de unidad atacada en el caso.
13. `grupo_arm_1`: Grupo armado principal involucrado en el caso.
14. `des_grupo_arm_1`: Descripción del grupo armado principal.
15. `grupo_arm_2`: Segundo grupo armado involucrado en el caso.
16. `des_grupo_arm_2`: Descripción del segundo grupo armado.
17. `grupo_arm_3`: Tercer grupo armado involucrado en el caso.
18. `des_grupo_arm_3`: Descripción del tercer grupo armado.
19. `lesionados_civiles`: Número de civiles lesionados en el caso.
20. `grupo_capturados`: Grupo al que pertenecen los capturados en el caso.
21. `capturados`: Número de personas capturadas en el caso.
22. `lensionados_combatientes`: Número de combatientes lesionados en el caso.
23. `militares`: Número de militares afectados en el caso.
24. `policia`: Número de policías afectados en el caso.
25. `otras_fuerzas_a`: Número de otras fuerzas armadas estatales afectadas en el caso.
26. `agen_est_no_inf`: Número de agentes del estado sin información en el caso.
27. `total_agen_est`: Total de agentes del estado en el caso.
28. `guerilleros`: Número de guerrilleros afectados en el caso.
29. `paramilitares`: Número de paramilitares afectados en el caso.
30. `grupos_posdesmo`: Número de grupos posdesmovilización afectados en el caso.
31. `combatientes_no_inf`: Número de combatientes sin información en el caso.
32. `otros_grupos_armados_o`: Número de otros grupos armados organizados afectados en el caso.
33. `total_combatientes_ga`: Total de combatientes de grupos armados organizados involucrados en el caso.
34. `total_combatientes`: Total de combatientes involucrados en el caso.
35. `persona_sinf`: Número de personas sin información en el caso.
36. `total_civiles`: Total de civiles afectados en el caso.
37. `ventaja_militar`: Indicador de si hubo ventaja militar en el caso.
38. `total_victimas_caso`: Total de víctimas en el caso.
39. `latitud`: Coordenada de latitud donde ocurrió el caso.
40. `longitud`: Coordenada de longitud donde ocurrió el caso.

### *Valores faltantes*
Existen diversos tipos de datos faltantes en la información. Por un lado tenemos para los campos de municipio, sexo, tipo de víctima, entre otros donde encontramos registros con la etiqueta "SIN INFORMACIÓN". Asimismo, en los campos correspondientes a año, mes y día, encontramos registros con valores como "0000" y "00" (que Python interpreta únicamente como 0). Además, hay registros que están completamente en blanco, lo que conocemos como valores NA o NULL. 
**Este analisis aplica para ambas tablas.

#### **Tabla 1: Víctimas de Acciones Bélicas**

Se han registrado un total de **153116 datos faltantes**. Al analizar los registros, observamos que todos ellos tienen al menos un dato faltante.

In [50]:
registros_na = victimasAB_df.isna().any(axis=1).sum() 
print(registros_na)

49363

In [48]:
print(victimasAB_df.isna().sum().sum())

153116

In [27]:
proporcion_na_por_columna = (victimasAB_df.isna().sum(axis=0))/(victimasAB_df.shape[0])
print(proporcion_na_por_columna)

id_caso             0.000000
cod_dane_mun        0.000000
municipio           0.000000
departamentos       0.000000
anho                0.000000
mes                 0.000000
dia                 0.000000
id_persona          0.000000
sexo                0.000000
etnia               0.996414
ocupacion           0.000000
cal_vict_baja       0.000000
tipo_pob_vuln       0.995908
fuerza_grupo_arm    0.087069
desc_fuerza_arm     0.087069
edad                0.935377
latitud             0.000000
longitud            0.000000
dtype: float64

Vamos a unificar el formato de tipo de datos faltante, es decir, pasaremos  todos los datos NaN (dato faltante de pandas) a None(datos faltante de python).

In [46]:
import pandas as pd

def convertir_nan_a_none(df):
    """
    Convierte los valores 'NaN' a 'None' en un DataFrame de Pandas, pero conserva los valores numéricos.

    Parámetros:
        df (DataFrame): El DataFrame de Pandas a analizar y modificar.

    Retorna:
        DataFrame: Un nuevo DataFrame con los valores 'NaN' convertidos a 'None' en las columnas de tipo cadena.
    """
    df_modificado = df.copy()
    columnas_cadena = df_modificado.select_dtypes(include=['object']).columns

    for columna in columnas_cadena:
        df_modificado[columna] = df_modificado[columna].where(df_modificado[columna].notna(), None)
    
    return df_modificado

victimasAB_df1 = convertir_nan_a_none(victimasAB_df)

# Mostrar el DataFrame resultante
print(victimasAB_df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49363 entries, 0 to 49362
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_caso           49363 non-null  int64
 1   cod_dane_mun      49363 non-null  object
 2   municipio         49363 non-null  object
 3   departamentos     49363 non-null  object
 4   anho              49363 non-null  int64
 5   mes               49363 non-null  int64
 6   dia               49363 non-null  int64
 7   id_persona        49363 non-null  int64
 8   sexo              49363 non-null  object
 9   etnia             177 non-null    object
 10  ocupacion         49363 non-null  object
 11  cal_vict_baja     49363 non-null  object
 12  tipo_pob_vuln     202 non-null    object
 13  fuerza_grupo_arm  45065 non-null  object
 14  desc_fuerza_arm   45065 non-null  object
 15  edad              3190 non-null   object
 16  latitud           49363 non-null  float64
 17  longitud          49363 non-null  float64
dtypes: float64(2), int64(5), object(11)
memory usage: 6.8+ MB
None

#### **Tabla 2: Casos de Acciones Bélicas**

In [67]:
registros_na = casosAB_df.isna().any(axis=1).sum() 
print(registros_na)

37525

In [68]:
print(casosAB_df.isna().sum().sum())

142187

In [73]:
proporcion_na_por_columna = (casosAB_df.isna().sum(axis=0))/(casosAB_df.shape[0])
print(proporcion_na_por_columna.head(20))

id_caso               0.000000
id_caso_rela          0.889801
anho                  0.000000
mes                   0.000000
dia                   0.000000
cod_dane_mun          0.000000
municipio             0.000000
departamento          0.000000
region                0.016040
modalidad             0.000000
inicitiva             0.000000
tipo_uni_ata          0.001066
grupo_arm_1           0.000027
des_grupo_arm_1       0.000426
grupo_arm_2           0.000027
des_grupo_arm_2       0.000027
grupo_arm_3           0.975301
des_grupo_arm_3       0.975301
lesionados_civiles    0.000000
grupo_capturados      0.930406
dtype: float64

In [75]:
casosAB_df1 = convertir_nan_a_none(casosAB_df)
print(casosAB_df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37532 entries, 0 to 37531
Data columns (total 40 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   id_caso                             37532 non-null  int64
 1   id_caso_rela                        4136 non-null   object
 2   anho                                37532 non-null  int64
 3   mes                                 37532 non-null  int64
 4   dia                                 37532 non-null  int64
 5   cod_dane_mun                        37532 non-null  object
 6   municipio                           37532 non-null  object
 7   departamento                        37532 non-null  object
 8   region                              36930 non-null  object
 9   modalidad                           37532 non-null  object
 10  inicitiva                           37532 non-null  object
 11  tipo_uni_ata                        37492 non-null  object
 12  grupo_arm_1                         37531 non-null  object
 13  des_grupo_arm_1                     37516 non-null  object
 14  grupo_arm_2                         37531 non-null  object
 15  des_grupo_arm_2                     37531 non-null  object
 16  grupo_arm_3                         927 non-null    object
 17  des_grupo_arm_3                     927 non-null    object
 18  lesionados_civiles                  37532 non-null  int64
 19  grupo_capturados                    2612 non-null   object
 20  capturados                          37532 non-null  int64
 21  lensionados_combatientes            37532 non-null  int64
 22  militares                           37532 non-null  int64
 23  policia                             37532 non-null  int64
 24  otras_fuerzas_a                     37532 non-null  int64
 25  Agentes del Estado Sin Información  37532 non-null  int64
 26  Total Agentes del Estado            37532 non-null  int64
 27  guerilleros                         37532 non-null  int64
 28  paramilitares                       37532 non-null  int64
 29  Grupos Posdesmovilización           37532 non-null  int64
 30  Combatientes Sin Información        37532 non-null  int64
 31  otros_grupos_armados_o              37532 non-null  int64
 32  total_combatientes_ga               37532 non-null  int64
 33  total_combatientes                  37532 non-null  int64
 34  persona_sinf                        37532 non-null  int64
 35  total_civiles                       37532 non-null  int64
 36  ventaja_militar                     37532 non-null  object
 37  total_victimas_caso                 37532 non-null  int64
 38  latitud                             37532 non-null  float64
 39  longitud                            37532 non-null  float64
dtypes: float64(2), int64(22), object(16)
memory usage: 11.5+ MB
None

### *Resolviendo preguntas con la base de datos*


1. ¿Cuántas acciones bélicas ocurrieron en cada municipio y departamento?
2. ¿Cuál fue el año con mayor número de acciones bélicas?
3. ¿Cuántas víctimas hubo en total y cuántas fueron hombres y mujeres?
4. ¿Cuál es la distribución de edad de las víctimas?
5. ¿Cuál es el grupo étnico más afectado por las acciones bélicas?
6. ¿Cuál es la ocupación más común entre las víctimas?
7. ¿Cuál es la distribución de género en cada grupo étnico?
8. ¿Qué tipo de población vulnerable fue más afectada por las acciones bélicas?
9. ¿Cuál fue el grupo armado más activo y en qué áreas?
10. ¿Hay alguna tendencia temporal en el número de acciones bélicas?
11. ¿Cuál es la distribución geográfica de las acciones bélicas?
12. ¿Existe alguna relación entre la edad de las víctimas y el tipo de población vulnerable al que pertenecen?
13. ¿Cuál es la relación entre la ocupación de las víctimas y la fuerza o grupo armado al que pertenecen?
14. ¿Hay alguna correlación entre la calidad de la víctima y la descripción de la fuerza o grupo armado al que pertenecen?